@import './colors';
@import './mixins';

html,
body {
  height: 100%;
  width: 100vw;
  margin: 0px;
  overflow: hidden;

  #__nuxt {
    height: 100%;
  }
}

* {
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.only-desktop {
  @include breakpoint(mobile) {
    display: none;
  }
}

.only-mobile {
  @include breakpoint(desktop) {
    display: none;
  }

  @include breakpoint(tablet) {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
